doctype html

html
	head
		title Vala
		block styles
			link(href="/vendor/bootstrap/bootstrap.css", rel="stylesheet")
			link(href="/css/style.css", rel="stylesheet")

	body

		nav.navbar.navbar-default
			.container
				.navbar-header.page-scroll
					button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
						span.sr-only Toggle navigation
						span.icon-bar
						span.icon-bar
						span.icon-bar
					a.navbar-brand(href='#page-top') Start Bootstrap
				// Collect the nav links, forms, and other content for toggling
				#bs-example-navbar-collapse-1.collapse.navbar-collapse
					ul.nav.navbar-nav.navbar-right
						li.hidden
							a(href='#page-top')
						li.page-scroll
							a(href='learn.html') Learn
						li.page-scroll
							a(href='download.html') Download
						li.page-scroll
							a(href='community.html') Community

		block body
			.container
				.row
					.col-md-2
						ul.nav
							li Getting Started
								ul
									li: a(href="/tutorials.html") Tutorials
									li: a(href="#") Sample Apps
									li: a(href="#") Build Systems
							li Documentation
								ul
									li: a(href="#") API
									li: a(href="#") Language Specs
					.col-md-10
						block content
		block footer
			.container.footer.
				Vala - &copy; I-hate-farms

