doctype html

html
	head
		title Vala
		block styles
			link(href="/vendor/bootstrap/bootstrap.css", rel="stylesheet")
			link(href="/css/style.css", rel="stylesheet")

	body
		block content
		block footer
			.container.footer
				Vala - &copy; I-hate-farms

