include mixins

doctype html

html
	head
		title Vala
		// The siteRoot is defined by grunt
		block styles
			link(href="#{siteRoot}/vendor/bootstrap/bootstrap.css", rel="stylesheet")
			link(href="#{siteRoot}/style/style.css", rel="stylesheet")
			link(href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css", rel="stylesheet")

	body
		nav.navbar.navbar-default
			.container
				.navbar-header.page-scroll
					button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
						span.sr-only Toggle navigation
						span.icon-bar
						span.icon-bar
						span.icon-bar
					+link('/index.html')(class='navbar-brand') Vala now!  
				// Collect the nav links, forms, and other content for toggling
				#bs-example-navbar-collapse-1.collapse.navbar-collapse
					ul.nav.navbar-nav.navbar-right
						li.hidden
							+link('#page-top')
						li.page-scroll
							+link('/learn/index.html') Learn
						li.page-scroll
							+link('/download.html') Download
						li.page-scroll
							+link('/community.html') Community

		block body
			.container
				block content

		footer.text-center
			.footer-above
				.container
					.row
						.footer-col.col-md-4
							p Location
							p: small
								| 3481 Melrose Place
								br
								| Beverly Hills, CA 90210
						.footer-col.col-md-4
							p Around the Web
							ul.list-inline
								li
									a.btn-social.btn-outline(href='#')
										i.fa.fa-fw.fa-facebook
								li
									a.btn-social.btn-outline(href='#')
										i.fa.fa-fw.fa-google-plus
								li
									a.btn-social.btn-outline(href='#')
										i.fa.fa-fw.fa-twitter
						.footer-col.col-md-4
							p About Freelancer
							p: small
								| Freelance is a free to use, open source Bootstrap theme created by 
								a(href='http://startbootstrap.com') Start Bootstrap
								| .
				.footer-below
					.container
						.row
							.col-lg-12
							| Copyright &copy; I-HATE-FARMS 2015

