extends layout.jade

block content
	.container
		.row
			.col-md-4
				ul.nav
					a(href="/learn/official.html") Official resources

					li Getting Started
						ul
							li: a(href="/learn/todo.html") Getting started
							li: a(href="/learn/todo.html") Language reference
							li: a(href="/learn/todo.html") Memory management
							li: a(href="/tutorials.html") Tutorials
							li: a(href="/learn/todo.html") Debugging
							li: a(href="/learn/todo.html") Building your application
							li: a(href="/learn/todo.html") Vala and your IDE/editors
							li: a(href="/learn/articles.html") Articles
							li: a(href="/learn/todo.html") Valadoc
							li: a(href="/learn/faq.html") FAQ

					li Other platforms
						ul
							li: a(href="/learn/on-windows.html") On Windows
							li: a(href="/learn/todo.html") On Mac OS X

					li Documentation
						ul
							li: a(href="/learn/todo.html") Built-in bindings
							li: a(href="/learn/todo.html") More bindings
							li: a(href="/learn/todo.html") Write your own bindings
							li: a(href="/learn/todo.html") Interoperability with C

			.col-md-8
				block learning_content