extends layout.jade

block content
	.container
		.row
			.col-md-4
				ul.nav
					p: +link('official.html') Official resources 

					p: li Getting Started
						ul
							li: +link('/learn/todo.html') Getting started
							li: +link('/learn/todo.html') Language reference
							li: +link('/learn/todo.html') Memory management
							li: +link('/learn/todo.html') Building your application
							li: +link('/learn/todo.html') Differences with Java
							li: +link('/learn/todo.html') Differences with .net
							li: +link('/learn/todo.html') Differences with Python
							li: +link('/learn/todo.html') Conventions and formatting
							li: +link('/learn/faq.html') FAQ

					p: +link('/tutorials.html') Tutorials
					
					p: +link('/learn/articles.html') Articles

					p: li Tools
						ul
							li: +link('/learn/debug.html') Debugging
							li: +link('/learn/ide-and-editors.html') IDE and editors
							li: +link('/learn/valadoc.html') Valadoc

					p: li Other platforms
						ul
							li: +link('/learn/on-windows.html') On Windows
							li: +link('/learn/todo.html') On Mac OS X

					p: li Libraries
						ul
							li: +link('/learn/todo.html') Built-in bindings
							li: +link('/learn/using-gtk.html') Using Gtk+
							li: +link('/learn/using-gstreamer.html') Using GStreamer
							li: +link('/learn/todo.html') Using Dbus
							li: +link('/learn/todo.html') More bindings
							li: +link('/learn/todo.html') Write your own bindings
							li: +link('/learn/todo.html') Interoperability with C
							li: +link('/learn/todo.html') Third party library
			.col-md-8
				block learning_content