mixin draft(page_name)
	.bs-callout.bs-callout-warning
		h4 This is a draft for #{page_name}
		p.
			Please visit #[a(href="https://github.com/I-hate-farms/campfire/blob/master/README.md#how-to-contribute") our guide] 
			to contribute to this project