extends ../../layout/learning.jade

block learning_content

	+draft ("learn/articles")

	p Elementary dev guide

	p Vala journal articles

	p Tarnyko

	a(href="http://www.teejeetech.in/search/label/vala") How to set up Geany