extends ../../layout/learning.jade

block learning_content

	+draft ("learn/debug")

	p Signals, exceptions and core dumps
	
	p G_DEBUG level
	p GDB 
	p Nemiver

	p Apport

	p Symbols	
	p.
		How to get the local crash files (that are sent by apport ) ? 
		http://askubuntu.com/questions/93226/ubuntu-freezes-which-logs-can-i-check-out
		https://wiki.ubuntu.com/DebuggingProgramCrash