extends ../../layout/learning.jade

block learning_content

	+draft ("learn/faq")

	p: strong Is it possible to call C++ code from my vala program?
	p I'm not sure

	p: strong Is it possible to call vala code from my C++ program?
	p Yes. TODO: detail how?
	
