extends ../../layout/learning.jade

block learning_content

	+draft ("faq")

	p.strong Q: Is it possible to call C++ code from my vala program?
	p A: I'm not sure

	p.strong Q: Is it possible to call vala code from my C++ program?
	p A: Yes. TODO: detail how?
	
