extends ../../layout/learning.jade

block learning_content

	+draft ("learn/ide-and-editors")

	h2: +link('/learn/ide-geany.html') Geany
	br
	+link('/learn/ide-geany.html')
		img(src='/images/ide-geany-thumb.png', alt='')
	br

	h2: +link('/learn/ide-monodevelop.html') Monodevelop
	br 
	+link('/learn/ide-monodevelop.html')
		img(src='/images/ide-monodevelop-thumb.png', alt='')
	br

	h2: +link('/learn/ide-atom.html') Atom 
	br

	h2: +link('/learn/ide-sublimetext.html') Sublime Text
	br
	+link('/learn/ide-sublimetext.html')
		img(src='/images/ide-sublimetext-thumb.png', alt='')
	br

