extends ../../layout/learning.jade

block learning_content

	+draft ("learn/ide-monodevelop")

	h2
		a(href='http://www.monodevelop.com/') Monodevelop 

	h3 Features
	ul 
		li Syntax coloring
		li Breakpoint
		li Full completion (language and package based)
		li Solution and project files (sln mdproj)
		li Plugins
	
	h3 Screenshots
	
	img(src='/images/ide-monodevelop-thumb.png', alt='')

	img(src='/images/ide-monodevelop-debug-thumb.png', alt='')

	h3 Installation 

	p.
		First we need to install #[a(href="http://www.mono-project.com/docs/getting-started/install/linux/#debian-ubuntu-and-derivatives") Mono for ubuntu]
	pre.
		sudo apt-key adv --keyserver keyserver.ubuntu.com --recv-keys 3FA7E0328081BFF6A14DA29AA6A19B38D3D831EF
		echo "deb http://download.mono-project.com/repo/debian wheezy main" | sudo tee /etc/apt/sources.list.d/mono-xamarin.list
		sudo apt-get update
		sudo apt-get install mono-complete
	
	p.
		Then we install Monodevelop 
	pre.
		sudo apt-get install monodevelop 
	p.
		Then we build the vala plugin and its dependencies
	pre.
		sudo apt-get install mono-complete monodevelop-nunit monodevelop-versioncontrol 
		sudo apt-get install  libmono-addins-cil-dev 	libmono-addins-gui-cil-dev 	libmono-addins-gui0.2-cil 	libmono-addins-msbuild-cil-dev 	libmono-addins-msbuild0.2-cil libmono-addins0.2-cil 	mono-addins-utils

		sudo apt-get install libvala-0.28-dev
		git clone https://github.com/inizan-yannick/afrodite
		cd afrodite
		./autogen.sh --prefix=/usr && ./configure --prefix=/usr
		make 
		sudo make install

	h3 Building 
	pre.
		https://github.com/PerfectCarl/ValaBinding.git
		cd ValaBinding
		./configure --prefix=/usr 
		make
		sudo make install 

