extends ../../layout/learning.jade

block learning_content

	+draft ("learn/ide-atom")

	h2
		a(href='http://atom.io') Atom

	h3 Features
	ul 
		li Syntax coloring
		li Code completion
		li Document outline
		li Plugins

	h3 Setup 
	p.
		TBD

	h3 More 
	a(href="http://curiositydrivendevelopment.blogspot.fr/2014/05/vala-support-in-atom-hackable-text.html") Vala support in the Atom hackable text editor
