extends ../../layout/learning.jade

block learning_content

	+draft ("learn/on-windows")

	p Getting Vala 

	p Installing msys and mingw 

	ul Getting binaries for 3rd party libraries
		li Gtk (how to use themes)
		li GStreamer
		li Others 

	ul Misc resources
		li: a(href='http://www.gtk.org/download/win32.php') Gtk 3.6.4 for Windows official 
		li: a(href='http://www.tarnyko.net/en/?q=node/48') Gtk for Windows
		li: a(href='https://github.com/Wesley-Chan/GTK-for-Windows/') Gtk for windows
