extends ../../layout/learning.jade

block learning_content
	p.
		More learning content to come.
	p.
		Please visit #[a(href="https://github.com/I-hate-farms/campfire/blob/master/README.md#how-to-contribute") our guide] 
		to contribute to this project