extends ../../layout/learning.jade

block learning_content

	+draft ("learn/using-gtk")

	h3 Gtk resources
	ul
		li #[a(href="https://www.bassi.io/articles/2014/08/27/gdk-and-threads/") Gdk and threading]
		li #[a(href="https://blogs.gnome.org/mclasen/2014/06/24/whats-that-icon/") Finding an icon in your theme]

	p Gtk inspector
	ul
		li #[a(href="https://blogs.gnome.org/mclasen/2014/07/11/another-gtkinspector-update/") Debugging gtk application with the runtime inspector]


	p Gtk blogs
	ul
		li #[a(href="https://www.bassi.io") Emmanuel Bassi]
		li #[a(href="https://blogs.gnome.org/mclasen/") Mathias Clasen]