extends ../../layout/learning.jade

block learning_content

	+draft ("learn/valadoc")
	
	p.
		https://github.com/rastersoft/autovala/blob/master/cmake/Valadoc.cmake
		http://valadoc.org/#!wiki=markup

	p.
		From embik 

		or anyone wondering how to get the valadoc stuff offline: Install devhelp 
		and download the docs for bindings you need (for example gtk-3.0) from
		valadoc.org (the main page; you see a "devhelp-package" link on
		the right side). Put the extracted folder of
		this into ~/.local/share/devhelp/books/