extends ../layout/layout.jade

block content
	.container
		h2 Get and provide help
			p Stackoverflow
			p Reddit
			p IRC
			p Google +
			p Development mailing list
			p Twitter 

		h2 Stay informed
			p Official website
			p Blog
		
		
		h2 Contribute and provide feedback
			p Github and gnome git
			p.
				Bug and feature report
				https://github.com/GNOME/vala
