extends ../layout/layout.jade

block content
	.container
		p How to community ?
		p Reddit
		p IRC
		p Google +
		p Blog
		p Development mailing list
		p Bug and feature report
		p Github and gnome git