extends ../layout/layout.jade

block content
	.container
		+draft ('download')
		
		p How to download ?
		p Ubuntu
		p MacOSX
		p Windows
		p Source code

		p Stable
		p Unstable 

		p How to use alternatives 
		p Release notes
