extends ../layout/layout.jade

block content
	.container
		.row

			.col-md-6
				ul
					li: a(href="/tutorials.html") Tutorials
					li: a(href="#") Sample Apps
					li: a(href="#") Build Systems

			.col-md-6
				pre: code.
						public async void do_some_long_tasks () {
						 	var i = 0;
						 	while (i < 100000) {
								print ("I do pretty vala code efficiently.\n");
								i++;
							}
						 }

