extends ../layout/layout.jade

block content
	.container
		.row

			.col-md-6
				ul
					li: a(href="/tutorials.html") Tutorials
					li: a(href="#") Sample Apps
					li: a(href="#") Build Systems

			.col-md-6
				pre: code.
						public async void do_some_long_tasks () {
							var i = 0;
							while (i < 100000) {
								print ("I do pretty vala code efficiently.\n");
								i++;
							}
						}

	section#portfolio
		.container
			.row
				.col-lg-12.text-center
					h2 Features
					hr.star-primary
			.row
				.col-sm-4
						img.img-responsive(src='images/test/cabin.png', alt='')
				.col-sm-4
						img.img-responsive(src='images/test/cake.png', alt='')
				.col-sm-4
						img.img-responsive(src='images/test/circus.png', alt='')
				.col-sm-4
						img.img-responsive(src='images/test/game.png', alt='')
				.col-sm-4
						img.img-responsive(src='images/test/safe.png', alt='')
				.col-sm-4
						img.img-responsive(src='images/test/submarine.png', alt='')
																												
	section#about.success
		.container
			.row
				.col-lg-12.text-center
					h2 About
					hr.star-light
			.row
				.col-lg-4.col-lg-offset-2
					p
					| Freelancer is a free bootstrap theme created by Start Bootstrap. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional LESS stylesheets for easy customization.
				.col-lg-4
					p
					| Whether you&apos;re a student looking to showcase your work, a professional looking to attract clients, or a graphic artist looking to share your projects, this template is the perfect starting point!
				.col-lg-8.col-lg-offset-2.text-center
					a.btn.btn-lg.btn-outline(href='#')
						i.fa.fa-download
						|  Download Theme

