extends ../layout/layout.jade

block content
	header.container
		.row

			.col-md-6
				h2 Vala at a glance
				ul
					li: #[+link('todo.html') Fast and native]
					li: #[+link('todo.html') Modern]
					li: First class support for #[+link('todo.html') your favorite Gnome libraries] (Gtk, GStreamer)
					li: Works with #[+link('todo.html') C code and libraries]

			.col-md-6
				:vala
						public async void do_some_long_tasks () {
							var i = 0;
							while (i < 100000) {
								print ("I do pretty vala code efficiently.\n");
								i++;
							}
						}
						var folder = File.new_for_path (folder);
						try {
							yield folder.query_info_async ("";
						} catch (IOError.NOT_FOUND e) {
							warning ("Folder does exist, not creating file.");
							return false;
						}
				p.text-right: +link('code.html') More code
				
	section#portfolio
		.container
			.row
				.col-lg-12.text-center
					h2 Discover Vala
					hr.star-primary
			.row
				.col-sm-4.feature
					p
						.icon: i.fa.fa-5x.fa-camera-retro
						h4: +link('todo.html') Fast and native
						p.
							For performance reasons, all icons require a base class and individual icon class. 
							To use, place the following code just about anywhere. Be sure to leave a space 
							between the icon and text for proper padding.

				.col-sm-4.feature
					p
						.icon: i.fa.fa-5x.fa-shield
						h4: +link('todo.html') Strongly typed
						p.
							For performance reasons, all icons require a base class and individual icon class. 
							To use, place the following code just about anywhere. Be sure to leave a space 
							between the icon and text for proper padding.
				.col-sm-4.feature
					p
						.icon: i.fa.fa-5x.fa-book
						h4: +link('todo.html') Object oriented
						p.
							For performance reasons, all icons require a base class and individual icon class. 
							To use, place the following code just about anywhere. Be sure to leave a space 
							between the icon and text for proper padding.				
				.col-sm-4.feature
					p
						.icon: i.fa.fa-5x.fa-flag
						h4: +link('todo.html') Managed memory
						p.
							For performance reasons, all icons require a base class and individual icon class. 
							To use, place the following code just about anywhere. Be sure to leave a space 
							between the icon and text for proper padding.							

	// App gallery
	// And now
	section#portfolio
		.container
			.row
				.col-lg-12.text-center
					h2 Who is using Vala?
					hr.star-primary
			.row
				.col-sm-4.who
						img.img-responsive(src='images/test/cabin.png', alt='')
				.col-sm-4.who
						img.img-responsive(src='images/test/cake.png', alt='')
				.col-sm-4.who
						img.img-responsive(src='images/test/circus.png', alt='')
				.col-sm-4.who
						img.img-responsive(src='images/test/game.png', alt='')
				.col-sm-4.who
						img.img-responsive(src='images/test/safe.png', alt='')
				.col-sm-4.who
						img.img-responsive(src='images/test/submarine.png', alt='')
																												
	section#about.success
		.container
			.row
				.col-lg-12.text-center
					h2 What now?
					hr.star-light
			.row
				.col-lg-4.col-lg-offset-2
					p.
						Freelancer is a free bootstrap theme created by Start Bootstrap. 
						The download includes the complete source files including HTML, 
						CSS, and JavaScript as well as optional LESS stylesheets 
						for easy customization.
				.col-lg-4
					p.
						Whether you&apos;re a student looking to showcase your work, a 
						professional looking to attract clients, or a graphic artist looking 
						to share your projects, this template is the perfect starting point!

