extends ../layout/layout.jade

block content
	.container
		.row

			.col-md-6
				h2 Vala at a glance
				ul
					li: #[a(href="todo.html") Fast and native]
					li: #[a(href="todo.html") Modern]
					li: First class support for #[a(href="todo.html") your favorite Gnome libraries] (Gtk, GStreamer)
					li: Works with #[a(href="todo.html") C code and libraries]

			.col-md-6
				:vala
						public async void do_some_long_tasks () {
							var i = 0;
							while (i < 100000) {
								print ("I do pretty vala code efficiently.\n");
								i++;
							}
						}

	section#portfolio
		.container
			.row
				.col-lg-12.text-center
					h2 Discover Vala
					hr.star-primary
			.row
				.col-sm-4
					p. 
						Fast and native

				.col-sm-4
					p.
						Object oriented with first class closure

	section#portfolio
		.container
			.row
				.col-lg-12.text-center
					h2 Who is using Vala?
					hr.star-primary
			.row
				.col-sm-4
						img.img-responsive(src='images/test/cabin.png', alt='')
				.col-sm-4
						img.img-responsive(src='images/test/cake.png', alt='')
				.col-sm-4
						img.img-responsive(src='images/test/circus.png', alt='')
				.col-sm-4
						img.img-responsive(src='images/test/game.png', alt='')
				.col-sm-4
						img.img-responsive(src='images/test/safe.png', alt='')
				.col-sm-4
						img.img-responsive(src='images/test/submarine.png', alt='')
																												
	section#about.success
		.container
			.row
				.col-lg-12.text-center
					h2 About
					hr.star-light
			.row
				.col-lg-4.col-lg-offset-2
					p. 
						Freelancer is a free bootstrap theme created by Start Bootstrap. 
						The download includes the complete source files including HTML, 
						CSS, and JavaScript as well as optional LESS stylesheets 
						for easy customization.
				.col-lg-4
					p.
						Whether you&apos;re a student looking to showcase your work, a 
						professional looking to attract clients, or a graphic artist looking 
						to share your projects, this template is the perfect starting point!
				.col-lg-8.col-lg-offset-2.text-center
					a.btn.btn-lg.btn-outline(href='#')
						i.fa.fa-download
						|  Download Theme

