extends ../layout/learning.jade

block learning_content
	.container
		each topic, tutorials in topics
			ul
				li= tutorials
					ul
						each tutorial in topic
							li: +link(tutorial.url)=tutorial.title

